@import url(header.css);
@import url(footer.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e9f7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#banner {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

#banner img {
  width: 80%;
  height: auto;
}

#banner .t-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  font-style: oblique;
  border-bottom: 2px solid;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px,
    rgba(0, 0, 0, 0.6) -1px -1px 1px;
  letter-spacing: 0.1em;
}

#two-text {
  width: 100%;
  padding: 70px 0 50px 0;
  display: flex;
  justify-content: center;
  background-color: #fefefe;
  font-size: 16px;
  text-align: center;
}
#two-text p {
  width: 60%;
}

#social-container {
  width: 100%;
  height: 180px;
  background-color: #fefefe;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.social-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1{
    border-right: 1px black solid;
}
.card3{
    border-left: 1px black solid;
}

.social-card img {
  padding: 15px;
  width: 80px;
  height: 80px;
}
.red {
  display: block;
}
.social-card span {
  display: block;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fefefe;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 820px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form{
    background-color: #1abc9c;
    position: relative;
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

.circle{
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(135deg, transparent 20%, #149279);
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container{
    position: relative;
    margin: 1rem 0;

}


.input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 20px;
    transition: 0.3s;
}

textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;  
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.btn{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: solid 2px #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn:hover{
    background-color: transparent;
    color: #fff;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span::before,
.input-container span::after{
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span::before{
    left: 50%;
}
.input-container span::after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after{
    width: 50%;
    opacity: 1;
}

.contact-info{
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title{
  color: #1abc9c;
}
.text{
  color: #333;
  margin: 1.5rem 0 0.2rem 0;

}
.information{
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

i{
  color: #149279;
  margin: 0.75rem;
}

.social-media{
  padding: 2rem 0 0 0;
}
.social-media p{
  color: #333;
}
.social-icon{
  display: flex;
  margin-top: 0.5rem;
}
.social-icon a i{  
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c,#149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.2rem;
  transition: 0.3s;
}
.social-icon i{
  color: #fff;
}

.social-icon a:hover{
  transform: scale(1.05);
}
.contact-info::before{
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle{
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom , #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after{
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
}
#mensaje-correcto{
  text-align: center;
  font-size: 16px;
  color: green;
}
#mensaje-incorrecto{
  font-size: 16px;
  color: red;
}

@media(max-width:850px){
  .form{
    grid-template-columns: 1fr;
  }
  .contact-info::before{
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }
  .contact-form::before{
    top: -13px;
    left: initial;
    right: 70px;
  }
  .big-circle{
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
  .text{
    margin: 1rem 0 1.5rem 0;
  }
  .social-media{
    padding: 1.5rem 0 0 0;
  }
  #social-container{
    display: block;
    height: 300px;
    justify-content: center;
  }
  

  #banner .t-room{
    font-size: 28px;
    transform: translateX(-50%) translateY(-50%);
}
  
}

@media(max-width:480px){
  .container{
    padding: 1.3rem;
  }

  .contact-info::before{
    display: none;
  }
  .big-circle{
    display: none;
  }
  .card1{
    margin-left: 18px;
  }
  .card2{
    border-left: none;
  }
  form,
  .contact-info{
    padding: 1.7rem 1.6rem;
  }
  .text, 
  .information, 
  .social-media p{
    font-size: 0.8rem;
  }
  .title{
    font-size: 1.5rem;
  }

  .input{
    padding: 0.45rem 1.2rem;
  }
  .btn{
    padding: 0.45rem 1.2rem;
  }
}