@import url(header.css);
@import url(footer.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e9f7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#banner {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
#banner img {
  width: 80%;
  height: auto;
}

#banner .t-room {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  font-style: oblique;
  border-bottom: 2px solid;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px,
    rgba(0, 0, 0, 0.6) -1px -1px 1px;
  letter-spacing: 0.1em;
}

#two-text {
  width: 100%;
  padding: 70px 0 50px 0;
  display: flex;
  justify-content: center;
  background-color: #fefefe;
}
#two-text .t-1 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 1px;
}
#two-text p {
  font-size: 16px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 1rem;
}
.cont .star {
  display: flex;
  align-items: center;
}

.fa {
  align-items: center;
  padding-right: 5px;
  color: #ffbf01;
  font-weight: 900;
  font-size: 14px;
}
.icon {
  padding-top: 10px;
}
.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 26px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .button-more {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0d1425;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.card-content .button-more:hover {
  text-decoration: underline;
}

footer {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  #banner .t-room {
    font-size: 28px;
    transform: translateX(-50%) translateY(-50%);
  }
}
