@import url(header.css);
@import url(footer.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e9f7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
/*Video inicio*/
video {
  height: auto;
  width: 80%;
  margin-top: 20px;
  object-fit: cover;
  opacity: 1;
}

#video-hotel {
  justify-content: center;
  display: flex;
}
/*Section servivio*/
.servicios {
  width: 80%;
  height: 90px;
  background-color: #ffbf01;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.servicios ul{
    display: flex;
    list-style: none;
}

.servicios a{
    padding: 10px;
}
.servicios li{
    padding: 20px;
}

.servicios ul li i a{
  color: #111111;
  display: block;
  margin: 0 2px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 30px;
}

/*******************************************************/
.info{
    width: 100%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: auto;
}
.icono{
    width: 200px;
}
.contenedor, h1, .text{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 8px;
    text-align: justify;
}
.text{
    padding-bottom: 30px;
}

.description-hotel a{
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
    text-decoration: none;
    color: #ffbf01;
    font-weight: 400;
    font-size: 22px;
}
.description-hotel a span{
    padding: 10px;
    border: 2px solid #ffbf01;
}

.description-hotel a:hover{
    text-decoration: underline;
}


/******************************************************/
@media only screen and (max-width: 1024px) {

    .servicios i{
        padding: 5px;
    }
    .servicios a{
        font-size: 12px;
        padding: 0;
    }
}
@media (max-width:768px){

    .servicios a{
        display: none;;
    }
    .servicios i{
        padding: 25px;
    }
}
@media only screen and (max-width: 520px) {
    .servicios a{
        display: none;
    }
    .servicios i{
        padding: 0;
    }
    h1{
        text-align: center;
    }
    .contenedor{
        width: 100%;
    }
}
@media (max-width:320px){
    .servicios li{
        padding: 10px;
    }
}
