@import url(header.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e9f7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
/*Menu*/
span {
  font-size: 20px;
  font-weight: bold;
}
.logo {
  width: 200px;
}
.logo a {
  text-decoration: none;
  color: black;
}
.logo a:hover {
  color: #ffbf01;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Fin menu*/

.info-container {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 60%;
  background-color: #fefefe;
  border-radius: 30px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.texts {
  padding: 0 30px 30px 30px;
}
.somos {
  padding-bottom: 30px;
  border-bottom: 2px solid lightgray;
}
.c1 p,
.c2 p {
  padding: 5px;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-bottom: 40px;
}
.title {
  margin: 30px 0 10px 0;
  font-size: 1.3rem;
}
/*Carosuel*/
.i {
  margin-bottom: 30px;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.i:before,
.i:after {
  content: "тек";
  position: absolute;
  top: 50%;
  left: 1rem;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  background: dodgerblue;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.i:after {
  content: "тен";
  left: auto;
  right: 1rem;
}

input {
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(100%);
  transition: transform ease-in-out 400ms;
  z-index: 1;
}

input:focus {
  outline: none;
}

input:after {
  content: attr(title);
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

input:not(checked):before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 50%;
  left: calc(-100% + 1rem);
}

input:checked:before {
  display: none;
  left: 1rem;
}

input:checked {
  transform: translateX(0);
  pointer-events: none;
  z-index: 0;
  box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
}

input:checked + input:before {
  left: -3rem;
}

input:checked + input ~ input:before {
  display: none;
}
/*End Carousel*/

/*FOOTER*/
.footer-container {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60px;
  background-color: #fefefe;
}
.norm a {
  font-size: 14px;
  color: #066a92;
  text-decoration: none;
}
.copy p {
  font-size: 10px;
}

.info p {
  font-size: 12px;
}
.info a {
  color: #066a92;
  text-decoration: none;
}
.config-cookies a {
  font-size: 12px;
  color: #066a92;
  text-decoration: none;
}
.norm a:hover {
  text-decoration: underline;
}

.info a:hover {
  text-decoration: underline;
}

.config-cookies a:hover {
  text-decoration: underline;
}
/*END FOOTER*/
@media(max-width:768px){
  .info p{
    display: none;
  }
}
@media (max-width:600px){

  .info-container{
    width: 90%;
  }
  .info{
    display: none;
}
}
@media(max-width:320px){
  .title{
    text-align: center;  
  }
  .servicios{
    display: block;
  }
}