@import url(header.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e3e9f7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    
}

/*PAG RESERVA*/
span{
    font-size: 20px;
    font-weight: bold;
}
.logo{
    width: 200px;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo a:hover{
    color: #FFBF01;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.form-container{
    max-width: 650px;
    padding: 28px;
    margin: 50px ;
    box-shadow: 0 15px 20px #abb2b9;
    background-color: #fefefe;
}

h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box label{
    width: 95%;
    color: #2f4f4f;
    font-weight: 500;
    margin: 5px 0;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.input-box select{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.input-box option{
    background-color: #ccc;
}
.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.alert p{
    font-size: 10px;
    font-style: italic;
    color: dimgray;
    padding: 5px;
}

.alert a{
    color: #066a92;
}

.alert a:hover {
    text-decoration: underline;
}
.button-container{
    margin: 15px 0;
}
.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
}

.button-container button:hover{
    background-image: linear-gradient(to right, #61045f, #aa076b);
}
/*FIN PAG RESERVA*/
#mensaje-correcto{
    text-align: center;
    font-size: 16px;
    color: green;
}
#mensaje-incorrecto{
    font-size: 16px;
    color: red;
}
#alert{
    color: red;
    font-size: 10px;
}
/*FOOTER*/
.footer-container{
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    background-color: #fefefe;  
}
.norm a{
    font-size: 14px;
    color: #066a92;
    text-decoration: none;
}
.copy p{
    font-size: 10px;
}

.info p{
    font-size: 12px;
}
.info a{
    color: #066a92;
    text-decoration: none;
}
.config-cookies a{
    font-size: 12px;
    color: #066a92;
    text-decoration: none;
}
.norm a:hover{
    text-decoration: underline;
}

.info a:hover{
    text-decoration: underline;
}

.config-cookies a:hover{
    text-decoration: underline;
}
/*END FOOTER*/

@media (max-width:600px){
    .form-container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .input-box:nth-child(2n){
        justify-content: space-between;
    }
    .content::-webkit-scrollbar{
        width: 0;
    }
    .info{
        display: none;
    }
}

@media (max-width: 768px){
    .info p{
        display: none;
    }
}




